.menu-desplegable {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .menu-desplegable li {
        display: inline-block;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

        .menu-desplegable li a {
            text-decoration: none;
            color: black;
        }

        .menu-desplegable li:hover {
            background-color: #ccc;
        }

        /* Estilos opcionales para submenús */
        .menu-desplegable li ul {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-top: none;
            width: 150px; /* Ajusta el ancho */
        }

        .menu-desplegable li:hover ul {
            display: block;
        }
